{% extends 'base/base_main.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/order/css/order.css' %}">
{% endblock %}

{% block content %}
    <div id="cart">
        <h3>订单编号：{{ order.id }}</h3>
        <menu>
            <ul>
                {% for i in order.orderitem_set.all %}
                    <li class="menuList" >

                        <a href="#">
                            <img src="{{ i.goods.productimg }}" alt="">
                            <p>
                                {{ i.goods.productname }}
                            </p>
                            <p class="presentPrice">{{ i.goods.price }}</p>
                        </a>

                        <section>
{#                            <button class="subBtn">-</button>#}
                            <span>*{{ i.num }}</span>
{#                            <button class="addBtn">+</button>#}
                        </section>
                    </li>
                {% endfor %}

            </ul>
        </menu>
    <button id="order" class="btn btn-success">去付款</button>
    </div>
{% endblock %}